#searchField {
    -fx-background-image: url('/Images/Search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

#searchField:hover, #searchField:focused {
    -fx-cursor: text;
}